.stockman input {
  display: none; }
.stockman .drag-n-drop {
  width: 200px;
  height: 100px;
  border: 1px solid #aaaaaa;
  border-radius: 12px;
  text-align: center;
  line-height: 40px; }
  .stockman .drag-n-drop.hover, .stockman .drag-n-drop:hover {
    background: #dddddd; }
