.stockman
  input
    display: none
  .drag-n-drop
    width: 200px
    height: 100px
    border: 1px solid #aaa
    border-radius: 12px
    text-align: center
    line-height: 40px
    &.hover, &:hover
      background: #ddd

